extends layout

block content
  .page-header
    h3 Scan
  form(method='POST' id='scan_form')
    input(type='hidden', name='_csrf', value=_csrf)
    .clearfix
      .row
        .col-sm-4
          .form-group
            label(for="fileName") Set file name
            input.form-control(type='text', name='fileName', id='fileName', placeholder='File name', autofocus=true)
            p.help-block(style='display:none')
              | Please, use only alphabetical chars, numbers dash and underscore (a-z 0-9 - _ )
        .col-sm-4
          .form-group
            label(for="scanResolution") Select resolution
            select.form-control(name='scanResolution', id='scanResolution')
              option(value=50) 50dpi
              option(value=75) 75dpi
              option(value=150 selected) 150dpi
              option(value=300) 300dpi
              option(value=600) 600dpi
              option(value=1200) 1200dpi
    .form-group
      button.scan_btn.btn.btn-lg.btn-success#scan_btn Scan

  .progress
    .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%")
  ul#result.list-group
